<!DOCTYPE html>
<html>
<head>
  <style>
    body {
      background-color: #f2f2f2;
      font-family: Arial, sans-serif;
      text-align: center;
      padding: 20px;
    }

    h1 {
      font-size: 4rem;
      color: #333;
    }

    p {
      font-size: 1.5rem;
      color: #555;
      margin-bottom: 20px;
    }

    #home-link {
      text-decoration: none;
      background-color: #007BFF;
      color: #fff;
      padding: 10px 20px;
      border-radius: 3px;
      font-size: 1.2rem;
    }

    #home-link:hover {
      background-color: #0056b3;
    }

    img {
      width: 300px;
      height: 300px;
      margin: 20px 0;
    }
  </style>
</head>
<body>
  <h1>Invalid Phone Number Or Message Not Sent</h1>
  <p>Oops! Kindly Check The Phone NUmber Again</p>
  <p>PLEASE SEND AGAIN , <a href="sms">Resend</a></p>
  <a id="home-link" href="/">GO TO HOMEPAGE</a>
  <br>
  <img src="https://cdn.pixabay.com/photo/2017/02/12/21/29/false-2061131_640.png" align="center" alt="Custom Image 1">
  
</body>
</html>
