<!DOCTYPE html>
<html>

<head>
  <!-- Basic -->
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <!-- Mobile Metas -->
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <!-- Site Metas -->
  <meta name="keywords" content="" />
  <meta name="description" content="" />
  <meta name="author" content="" />

  <title>ClinniConnect</title>

<link rel="icon" href="images/logo.png" type="image/x-icon">
<link rel="shortcut icon" href="/logo" type="image/x-icon">

  <!-- bootstrap core css -->
  <link rel="stylesheet" type="text/css" href="css/bootstrap.css" />

  <!-- fonts style -->
  <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap" rel="stylesheet">

  <!--owl slider stylesheet -->
  <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css" />

  <!-- font awesome style -->
  <link href="css/font-awesome.min.css" rel="stylesheet" />
  <!-- nice select -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-nice-select/1.1.0/css/nice-select.min.css" integrity="sha256-mLBIhmBvigTFWPSCtvdu6a76T+3Xyt+K571hupeFLg4=" crossorigin="anonymous" />
  <!-- datepicker -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.3.0/css/datepicker.css">
  <!-- Custom styles for this template -->
  <link href="css/mainStyle.css" rel="stylesheet" />
  <!-- responsive style -->
  <link href="css/responsive.css" rel="stylesheet" />
  <link rel="stylesheet" href="path/to/font-awesome/css/font-awesome.min.css">

</head>

<body> 



  <div class="hero_area">
    <!-- header section strats -->
  {{>nav}}
  
  </div>
  <div class="readmore-content">
    <h2>About ClinniConnect</h2>
     <p>
        Welcome to Al-Shifa Clinic, where we extend a warm hello to all our valued patients.
    </p>
    <p>
        Al-Shifa Clinic is more than just a healthcare provider; we are a dedicated team committed to your well-being. With a blend of traditional homeopathy and modern medical practices, we offer a unique approach to healthcare that prioritizes your holistic health.
    </p>
    <p>
        Our journey began with a mission to provide comprehensive and personalized care, addressing the root causes of health issues and promoting long-term well-being. We understand that each patient is unique, and our experienced team of healthcare professionals is here to guide you on your path to optimal health.
    </p>
    <p>
        At Al-Shifa Clinic, we believe in the power of holistic healing. Our services range from expert homeopathic care to prompt and effective treatment at our flu clinic. We take pride in offering patient-centric care, conducting thorough consultations, and empowering our patients with knowledge about their health.
    </p>
    <p>
        Explore the difference that personalized and holistic healthcare can make in your life. Al-Shifa Clinic is your trusted partner in health, and we invite you to learn more about our services and philosophy.
    </p>
    <h2>Meet Our Doctor</h2>
    <p>
      Dr. Azhar Asif Ali is a renowned homoeopathic practitioner with years of experience in helping patients achieve optimal health. His commitment to holistic healing and personalized care sets the foundation for our clinic's philosophy.
    </p>
  </body>
