<!-- reset-password-form.hbs -->
<!DOCTYPE html>
<html>
<head>
  <title>Reset Password</title>
</head>
<body>
  <h1>Reset Your Password</h1>
  <form action="/reset-password" method="post">
    <label for="new-password">New Password</label>
    <input type="password"   maxlength="15" name="new-password" id="new-password" required>
    <label for="confirm-password">Confirm Password</label>
    <input type="password"  maxlength="15"  name="confirm-password" id="confirm-password" required>
    <button type="submit">Reset Password</button>
  </form>
</body>
</html>
