<!DOCTYPE html>
<html>

<head>
  <!-- Basic -->
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <!-- Mobile Metas -->
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <!-- Site Metas -->
  <meta name="keywords" content="" />
  <meta name="description" content="" />
  <meta name="author" content="" />

  <title>ClinniConnect</title>

 <link rel="stylesheet" type="text/css" href="css/bootstrap.css" />

  <!-- fonts style -->
  <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap" rel="stylesheet">

  <!--owl slider stylesheet -->
  <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css" />
<link rel="icon" href="images/logo.png" type="image/x-icon">
<link rel="shortcut icon" href="/logo" type="image/x-icon">
<link href="css/notify.css"  rel="stylesheet"/>
  <!-- font awesome style -->
  <link href="css/font-awesome.min.css" rel="stylesheet" />
  <!-- nice select -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-nice-select/1.1.0/css/nice-select.min.css" integrity="sha256-mLBIhmBvigTFWPSCtvdu6a76T+3Xyt+K571hupeFLg4=" crossorigin="anonymous" />
  <!-- datepicker -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.3.0/css/datepicker.css">
  <!-- Custom styles for this template -->
  <link href="css/mainStyle.css" rel="stylesheet" />
  <!-- responsive style -->
  <link href="css/responsive.css" rel="stylesheet" />
  <link rel="stylesheet" href="path/to/font-awesome/css/font-awesome.min.css">
</head>

<body>
  <!-- header section strats -->
  <header class="header_section">
    <div class="header_top">
      <div class="container">
        <div class="contact_nav">
          <!-- Contact info here -->
        </div>
      </div>
    </div>
    <div class="header_bottom">
      <div class="container-fluid">
        <nav class="navbar navbar-expand-lg custom_nav-container">
          <a class="navbar-brand" href="userpage.html">
            <img src="images/logo.png" alt="">
          </a>

          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class=""> </span>
          </button>

          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <div class="d-flex mr-auto flex-column flex-lg-row align-items-center">
              <ul class="navbar-nav">
                <li class="nav-item active">
                  <a class="nav-link" id="getHome" href="#">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="feedback">Feedback</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="rlogin">Reports</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="health">Health Tips</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="contact">Contact Doctor</a>
                </li>
              </ul>
            </div>
            <div class="quote_btn-container">
              <a href="/logout">
                <i class="fa fa-sign-out" aria-hidden="true"></i>
                <span>
                  Logout
                </span>
              </a>
              <a href="#" id="notif" >
                <i class="fa fa-bell" aria-hidden="true"></i>
              </a>
            </div>
          </div>
        </nav>
      </div>
    </div>
  </header>
  <!-- end header section -->

  <div class="row">
  <div class="col-lg-9">
    <!-- Content for the left side (take up 9 out of 12 columns) -->
  </div>
  <div class="co">
  <!-- Content for the right side (take up 3 out of 12 columns) -->
  <div class="greet" style= "">
    <h2 class="greeting-text">Hello <strong><span class="username"> {{username}} ! </span></strong></h2>
  </div>
</div>


</div>
<section class="slider_section ">
      <!-- <div class="dot_design">
        <img src="images/dots.png" alt="">
      </div> -->
      <div id="customCarousel1" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">
          <div class="carousel-item active">
            <div class="container ">
              <div class="row">
                <div class="col-md-6">
                  <div class="detail-box">
                    <div class="play_btn">
                      <button>
                        <i class="fa fa-play" aria-hidden="true"></i>
                      </button>
                    </div>
                    <h1>
                      Al-Shifa <br>
                      <span>
                       Clinic
                      </span>
                    </h1>
                    <p>
                      Welcome to ClinicConnect, your gateway to Al-Shifa Clinic's exceptional healthcare services!<br>
                      At Al-Shifa Clinic, we believe in providing compassionate and comprehensive healthcare to our patients, ensuring their well-being and fostering a healthier community.
                    <br><a href="/contact">
                      Contact Us
                    </a>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="img-box">
                    <img src="images/slider-img.jpg" alt="">
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="carousel-item">
            <div class="container ">
              <div class="row">
                <div class="col-md-6">
                  <div class="detail-box">
                    <div class="play_btn">
                      <button>
                        <i class="fa fa-play" aria-hidden="true"></i>
                      </button>
                    </div>
                    <h1>
                     Why <br>
                      <span>
                       Homoeopathy</span>
                    </h1>
                    <p>
                      Why Homeopathy !
<br>
                      The natural Homeopathic mode of treatment aims at rebuilding the body's immunity to diseases.
                      
                      Homeopathy Treatment does not uses strong medicine and antibiotic hence there is no side effect of homeopathy treatment as seen in conventional medicine.
                      
                      No other system of healing has such a dynamic, rapid, holistic & harmless therapeutic impact on the body.
                    </p>
                    <a href="">
                      Contact Us
                    </a>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="img-box">
                    <img src="images/slider-img2.png" alt="">
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="carousel-item">
            <div class="container ">
              <div class="row">
                <div class="col-md-6">
                  <div class="detail-box">
                    <div class="play_btn">
                      <button>
                        <i class="fa fa-play" aria-hidden="true"></i>
                      </button>
                    </div>
                    <h1>
                      Our<br>
                      <span>
                        Relation
                      </span>
                    </h1>
                    <p>
                      ClicniConnect and Alshifa Clinic are committed to your well-being.
                       We are driven by a dedication to excellence, compassionate care, and a deep-rooted belief in the healing power of homeopathy. Our commitment extends beyond the confines of our clinic walls, reaching you wherever you are through this digital platform. We invite you to join us in this transformative journey, experiencing the wonders of homeopathic healing and embracing a life of balance, vitality, and renewed energy. 
                      Together, we can create a healthier and happier world.
                    </p>
                    <a href="">
                      Contact Us
                    </a>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="img-box">
                    <img src="images/slider-img3.png" alt="">
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="carousel_btn-box">
          <a class="carousel-control-prev" href="#customCarousel1" role="button" data-slide="prev">
            <img src="images/prev.png" alt="">
            <span class="sr-only">Previous</span>
          </a>
          <a class="carousel-control-next" href="#customCarousel1" role="button" data-slide="next">
            <img src="images/next.png" alt="">
            <span class="sr-only">Next</span>
          </a>
        </div>
      </div>

    </section>
    <!-- end slider section -->
  </div>
  <!-- book section -->
 {{>book}}


 {{>about}}

  <!-- treatment section -->

 {{>treat}}

  <!-- end treatment section -->

  <!-- team section -->

 {{>doctors}}

  <!-- end team section -->


  
  <!-- end client section -->

  <!-- contact section -->
  {{>contact}}
  <!-- end contact section -->

  <!-- info section -->
 {{>info}}
  <!-- end info_section -->

 
            
  <!-- footer section -->
  <footer class="footer_section">
    <div class="container">
      <p>
        &copy; {{currentYear}} ClinniConnect. All rights reserved.
      </p>
    </div>
  </footer>
  <!-- end footer section -->
  <script src="js/book.js"></script>
  <!-- jQuery -->
  <script src="js/jquery-3.4.1.min.js"></script>
  <!-- Bootstrap JavaScript -->
  <script src="js/bootstrap.js"></script>
   <script src="js/loginPage.js"></script>
  <!-- Nice Select -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-nice-select/1.1.0/js/jquery.nice-select.min.js"
    integrity="sha256-Zr3vByTlMGQhvMfgkQ5BtWRSKBGa2QlspKYJnkjZTmo=" crossorigin="anonymous"></script>
  <!-- Owl Carousel -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js"></script>
  <!-- Datepicker -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.3.0/js/bootstrap-datepicker.js"></script>
  <!-- Custom JavaScript -->
  <script src="js/custom.js"></script>
  <script>
    // JavaScript code to set current year in the footer
    const currentYearElement = document.querySelector('#currentYear');
    const currentYear = new Date().getFullYear();
    currentYearElement.textContent = currentYear;
  </script>
</body>

</html>
