 <!DOCTYPE html>
    <html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Admin</title>
        <!-- ======= Styles ====== -->
    
    <link rel="icon" href="images/logo.png" type="image/x-icon">
    <link rel="shortcut icon" href="/logo" type="image/x-icon">
    
    <link href="css/admin.css" rel="stylesheet" />
    <!-- responsive style -->
    

    </head>
      <div class="container">
            <div class="navigation">
                <ul>
                    <li>
                        <a href="#">
                            <span class="icon">
                                <ion-icon name="logo-apple"></ion-icon>
                            </span>
                            <span class="title">Al-Shifa Clinic  Name</span>
                        </a>
                    </li>

                    <li>
                        <a href="dashboard" id="dash">
                            <span class="icon">
                                <ion-icon name="home-outline"></ion-icon>
                            </span>
                            <span class="title">Dashboard</span>
                        </a>
                    </li>

                    <li>
                        <a href="pat" id="patient">
                            <span class="icon">
                                <ion-icon name="people-outline"></ion-icon>
                            </span>
                            <span class="title">Patients</span>
                            
                            
                        </a>
                    </li>

                    <li>
                        <a href="appoint" id="app">
                            <span class="icon">
                                <ion-icon name="chatbubble-outline"></ion-icon>
                            </span>
                            <span class="title">Appointments</span>
                        </a>
                    </li>

                    <li>
                        <a href="#"  id="preslist" > 
                            <span class="icon">
                                <ion-icon name="people-outline"></ion-icon>
                            </span>
                            <span class="title">Presciptions</span>
                        </a>
                    </li>
                    
                    <li>
                        <a href="sms">
                            <span class="icon">
                                <ion-icon name="chatbubble-outline"></ion-icon>
                            </span>
                            <span class="title">Messanger </span>
                        </a>
                    </li>
                    <li>
                        <a href="maker">
                            <span class="icon">
                                <ion-icon name="chatbubble-outline"></ion-icon>
                            </span>
                            <span class="title">Prescription </span>
                        </a>
                    </li>

                
                    <li>
                        <a href="#">
                            <span class="icon">
                                <ion-icon name="lock-closed-outline"></ion-icon>
                            </span>
                            <span class="title">Password</span>
                        </a>
                    </li>

                    <li>
                        <a href="/logout">
                            <span class="icon">
                                <ion-icon name="log-out-outline"></ion-icon>
                            </span>
                            <span class="title">Sign Out</span>
                        </a>
                    </li>
                </ul>
            </div>