 <section class="info_section ">
    <div class="container">
      <div class="info_top">
        <div class="info_logo">
          <a href="">
            <img src="images/logo.png" alt="">
          </a>
        </div>
        <div class="info_form">
          <form action="">
            <input type="email" placeholder="Your email">
            <button>
              Subscribe
            </button>
          </form>
        </div>
      </div>
      <div class="info_bottom layout_padding2">
        <div class="row info_main_row">
          <div class="col-md-6 col-lg-3">
            <h5>
              Address
            </h5>
            <div class="info_contact">
              <a href="">
                <i class="fa fa-map-marker" aria-hidden="true"></i>
                <span>
                  Location
                </a>
              <p>


                Al-Shifa Clinic
Golibar Fish Market, Nehru Nagar, Santacruz (E) Mumbai - 55
Residebce
B-wing, Flat-402, Hasina Apartment, 1st Hasnabad Lane,
Santacruz (W), Mumbai - 54
<br><br>
              </p>
              <a href="">
                <i class="fa fa-phone" aria-hidden="true"></i>
                <span>
                  Call: 98207 66901 / 8169739303
                </span>
              </a>
              <br>
              <a href="">
                <i class="fa fa-envelope"></i>
                <span>
                  demo@gmail.com
                </span>
              </a>
            </div>
            <div class="social_box">
              <a href="">
                <i class="fa fa-facebook" aria-hidden="true"></i>
              </a>
              <a href="">
                <i class="fa fa-twitter" aria-hidden="true"></i>
              </a>
              <a href="">
                <i class="fa fa-linkedin" aria-hidden="true"></i>
              </a>
              <a href="">
                <i class="fa fa-instagram" aria-hidden="true"></i>
              </a>
            </div>
          </div>
          <div class="col-md-6 col-lg-3">
            <div class="info_links">
              <h5>
                Useful link
              </h5>
              <div class="info_links_menu">
                <a class="active" href="index">
                  Home
                </a>
                <a href="about">
                  About
                </a>
                <a href="treatment">
                  Treatment
                </a>
                <a href="doctor">
                  Doctors
                </a>
                <a href="testimonial">
                  Testimonial
                </a>
                <a href="contact">
                  Contact us
                </a>
              </div>
            </div>
          </div>
         
          
        </div>
      </div>
    </div>
  </section>